*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
    min-height: 100vh;
}
.container{
    height: 250px;
    width: 400px;
    border: 2px solid black;
    border-radius: 35px;
    padding: 25px;
    background-image: url("bg.png");
    object-fit: cover;
    background-size: cover;
    box-shadow: 0 5px 10px;
    max-width: 380px;
    width: 100%;
}
header span{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}
.logo{
    display: flex;
}
.logo img{
    width: 10vh;
}
.chip img{
    width: 55px;
}
.logo h5{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
}
.card-deatils{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.name-number{
    color: #fff;
    font-weight: 400;
}
.name-number #name{
    padding-top:15px;
}
.name-number h5{
    padding-top: 10px;
    font-weight: 400;
}    
.valid-till{
    color: #fff;
    padding-top: 20px;
}
